<div class="pt-5 container">

    <div class="wrapper">
        <div class="logo"> <img
                src="https://www.freepnglogos.com/uploads/games-png/games-game-controller-icons-vector-icons-2.png"
                alt="">
        </div>
        <div class="text-center mt-4 name"> Created Account </div>
        <form class="p-3 mt-3" (ngSubmit)="onSubmit(registro)" #registro="ngForm">

            <span class="text-danger" *ngIf="registro.submitted && registro.controls['email'].errors">El correo es
                obligatorio</span>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-envelope"></span>
                <input type="email" name="email" id="email" placeholder="E-mail" [(ngModel)]="usuario.email" required
                    email>
            </div>
            <span class="text-danger" *ngIf="registro.submitted && registro.controls['password'].errors">Debe contener 6
                caracteres</span>

            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" [(ngModel)]="usuario.password" placeholder="Password"
                    minlength="6" required>
            </div>
            <button class="btn mt-3">
                Sign up
            </button>
            <app-alert-error *ngIf="error === true" [errorMessage]="errorMessage" [message]="message"></app-alert-error>
        </form>
        <div class="text-center fs-6">
            <span>Do You have Account?</span><a routerLink="/login"> Login</a>
        </div>

    </div>
</div>