mat-toolbar {
    color: white;
    justify-content: space-between;
}
mat-sidenav {
    width: 250px;
    border-right: none;
    color: white;
    padding: 20px;
    text-align: center;
}

mat-sidenav-container {
    height: 100vh
}
mat-sidenav-content {
    background-image: url('../../../../assets/img/fondohome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 0;
}
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
 }
 mat-icon {
   margin-right: 8px;
 }
.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    border-radius: 10px;
}