.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}
.logo {
  background: #fff;
  text-align: center;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}
.logo-container .logo-text {
  margin-left: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.menu-button {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-size: 1rem;
}
mat-icon {
  margin-right: 8px;
}
mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}